main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-weight: 700;
    font-size: 20px;
}

.jv {
    background-color: skyblue;
    border-radius: 10px;
    padding: 16px;
}